__pycache__/
/checkpoints/
/output
nvlog.json
.env
AC-Voice-Cloning-Data/mels/predicted
AC-Voice-Cloning-Data/wavs/predicted
scripts/docker/interactive_*
test
AC-Voice-Cloning-Data-Added/
scripts/prepare_mels_ac_added.sh
